.header-nav {
  padding: 40px 0;
  .block {
    display: inline-block;
  }
  .block-menu {
    @include grid-media($neat-grid-menu-switch) {
      float: right;
      margin: 20px 0 0 0;
      display: block;
    }
    display: none;
    @mixin menu-active {
      outline: none;
      border-bottom: 1px solid;
    }
    ul.menu {
      margin: 0;
      padding: 0;
    }
    .menu-item {
      display: inline-block;
      margin: 0 0 0 20px;
      a {
        &:focus,
        &:hover,
        &.is-active {
          @include menu-active;
        }
      }
      &--active-trail {
        a {
          @include menu-active;
        }
      }
    }

  }
}