.grid {
  @include container;
}

.grid__item--6 {
  @include grid-media($neat-grid-tablet) {
    @include grid-column(6);
  }
}

.grid__item--4 {
  @include grid-media($neat-grid-mobile) {
    @include grid-column(6);
  }
  @include grid-media($neat-grid-tablet) {
    @include grid-column(4);
  }
  @include grid-column(12);
}

.grid__item--3 {
  @include grid-media($neat-grid-mobile) {
    @include grid-column(6);
  }

  @include grid-media($neat-grid-tablet) {
    @include grid-column(3);
  }
}

.grid__item--2 {
  @include grid-media($neat-grid-mobile) {
    @include grid-column(4);
  }

  @include grid-media($neat-grid-tablet) {
    @include grid-column(2);
  }
  @include grid-column(12);
}
