* {
  box-sizing: border-box;
}

// Container for normal divs.
.container {
  @include container;
}

.lt-ie9 .container {
  width: $max-width;
}

.layout-sidebar-first {
  .main {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(9);
    }
  }
  .sidebar {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(3);
    }
  }
}

.layout-sidebar-second {
  .main {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(8);
    }
  }
  .sidebar {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(4);
    }
  }
}

body {
  overflow-x: hidden;
}

html,
body,
.site {
  height: 100%;
  min-height: 100%;
}

// Hide duplicate page title on 404.
.page-404 {
  .page-title {
    display: none;
  }
}