{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.navigation: Items for the header region.
 * - page.header: Items for the header region.
 * - page.precontent: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - pae.subcontent: Items for the subcontent region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div>
    <header>
        <div class="header-topbar">
            <div class="container">
                {{ page.top_bar }}
            </div>
        </div>
        <div class="header-nav">
            <div class="container">
                {{ page.nav }}
                <a class="icon icon-menu js-overlay-toggler page-overlay__open" href="#" title="menu">
                    <div class="hamburger">
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                    </div>
                    Menu
                </a>
            </div>
        </div>
    </header>

    <div class="page">
        {% if page.precontent %}
            <div class="page-precontent">
                <div class="container">
                    {{ page.precontent }}
                </div>
            </div>
        {% endif %}
        <main class="content" role="main">
            <div class="container">
                {% if page.sidebar_first %}
                    <aside role="complementary" class="sidebar sidebar--first">
                        {{ page.sidebar_first }}
                    </aside>
                {% endif %}

                <div class="main">
                    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
                    {% if page.help %}
                        <div class="help">
                            {{ page.help }}
                        </div>
                    {% endif %}
                    {{ page.content }}
                </div>
                {% if page.sidebar_second %}
                    <aside role="complementary" class="sidebar sidebar--second">
                        {{ page.sidebar_second }}
                    </aside>
                {% endif %}
            </div>
        </main>
        {% if page.subcontent %}
            <div class="page-subcontent">
                <div class="container">
                    {{ page.subcontent }}
                </div>
            </div>
        {% endif %}
        <div class="page-overlay">
            <a class="gbl-icons gbl-icons-cross js-overlay-toggler page-overlay__close" href="#" title="menu">Close</a>
            {{ page.overlay }}
        </div>
    </div>
</div>

<footer>
    <div class="container">
        {{ page.footer }}
    </div>
    <a class="gbl-logo" href="http://www.gblstudio.be" target="_blank"><span class="gbl-logo__by">Website by </span><span class="gbl-logo__logo">GBL</span></a>
</footer>

