@mixin button {
  transition: all 300ms linear;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
  border-radius: 0;
  color: $color;
  padding: 6px 10px;
  text-shadow: none;
  box-shadow: none;
  border: 0;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  transform: translateY(0);
  &:hover,
  &:focus {
    outline: none;
    transform: translateY(5px);
    background-color: darken($primary, 15%);
  }
}
.button {
  @include button;
}