$gbl-logo-color: $white;

@font-face {
  font-family: 'gbl-icons';
  src:  url('../fonts/gbl-icons/icomoon.eot?mkg8g7');
  src:  url('../fonts/gbl-icons/icomoon.eot?mkg8g7#iefix') format('embedded-opentype'),
  url('../fonts/gbl-icons/icomoon.woff2?mkg8g7') format('woff2'),
  url('../fonts/gbl-icons/icomoon.ttf?mkg8g7') format('truetype'),
  url('../fonts/gbl-icons/icomoon.woff?mkg8g7') format('woff'),
  url('../fonts/gbl-icons/icomoon.svg?mkg8g7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin gbl-icons {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'gbl-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Social media icons.
[class^="gbl-icons-"],
[class*="gbl-icons-"] {
  &::before {
    @include gbl-icons;
  }
}
.gbl-icons-google-plus::before {
  content: "\ea8b";
}
.gbl-icons-facebook::before {
  content: "\ea90";
}
.gbl-icons-instagram::before {
  content: "\ea92";
}
.gbl-icons-twitter::before {
  content: "\ea96";
}
.gbl-icons-youtube::before {
  content: "\ea9d";
}
.gbl-icons-linkedin::before {
  content: "\eaca";
}
.gbl-icons-pinterest::before {
  content: "\ead1";
}
.gbl-icons-cross::before {
  content: "\e904";
}


// GBL logo (footer)
.gbl-logo {
  transition: all 100ms linear;
  position: relative;
  color: $gbl-logo-color;
  display: inline-block;
  width: 51px;
  margin-left: 10px;
  &:focus,
  &:hover {
    color: $gbl-logo-color;
    // Remove line below if the logo has to be centered.
    width: 140px;
    .gbl-logo__by {
      opacity: 1;
      right: 55px;
      visibility: visible;
    }
    .gbl-logo__logo {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}
.gbl-logo__by {
  transition: all 100ms linear;
  font-size: 0;
  position: absolute;
  right: 10px;
  visibility: hidden;
  width: 73px;
  top: 3px;
  &::before {
    @include gbl-icons;
    content: '\e905';
    font-size: 14px;
  }
}
.gbl-logo__logo {
  font-size: 0;
  position: relative;
  display: block;
  &::before,
  &::after {
    @include gbl-icons;
    transition: all 100ms linear;
    background: none;
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 18px;
  }
  &::before {
    opacity: 1;
    content: '\e901';
  }
  &::after {
    opacity: 0;
    content: '\e900';
  }
}
