table {
  @include grid-media($neat-grid-mobile) {
    display: table;
  }
  overflow: scroll;
  display: block;
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid $grey;
  }
}
