html {
  color: $base-text-color;
  font-family: $base-font-family;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  ::selection {
    background: $base-selected-text-background-color;
    color: $base-selected-text-color;
  }
  ::-moz-selection {
    background: $base-selected-text-background-color;
    color: $base-selected-text-color;
  }
}

body {
  line-height: $base-line-height;
  font-size: $base-font-size;
}

// Base link settings
a {
  transition: all 100ms linear;
  color: $base-link-color;
  outline: 0 !important;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }
}

// Text
p {
  margin: 0 0 15px;
}

strong {
  font-weight: $bold;
}

// Headers
h1 {
  font-size: 36px;
  margin: 0 0 30px;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  margin: 0 0 20px;
  line-height: 1.2;
}

h3 {
  margin: 0 0 10px;
  line-height: 1.2;
}

h4 {
  margin: 0 0 10px;
  line-height: 1.2;
}

h5 {
  margin: 0 0 10px;
  line-height: 1.2;
}

h6 {
  margin: 0 0 10px;
  line-height: 1.2;
}

@mixin wysiwyg {
  ul {

  }
  h2 {
    font-size: 24px;
  }
  p + h4,
  ul + h4,
  p + h3,
  ul + h3,
  p + h2,
  ul + h2 {
    margin-top: 30px;
  }
}

// WYSIWYG formatting.
.cke_editable,
.text-formatted {
  a {
    border-bottom: 1px solid;
  }
  @include wysiwyg;
}

