.paragraph--video {
  $this: &;
  .field--name-field-video {
    margin-bottom: 20px;
  }

  &.paragraph--left,
  &.paragraph--right {
    .field--name-field-video {
      @include grid-media($neat-grid-tablet) {
        @include grid-column(6);
      }
    }
    .field--name-field-text {
      @include grid-media($neat-grid-tablet) {
        @include grid-column(6);
        margin-bottom: 20px;
      }
    }
  }


  &.paragraph--right {
    .field--name-field-video {
      @include grid-media($neat-grid-tablet) {
        float: right;
        margin-right: 0;
      }
    }
  }

}