.paragraph--icon-bar  {
  // We hide geysir for paragraphs inside paragraphs.
  .geysir-field-paragraph-links {
    display: none !important;
  }

  .field--name-field-paragraphs {
    > .field__item {
      margin-bottom: 40px;
    }
  }

  // 4 columns.
  &.paragraph--4 {
    .field--name-field-paragraphs {
      > .field__item {

        @include grid-media($neat-grid-mobile) {
          @include grid-column(6);
        }
        @include grid-media($neat-grid-tablet) {
          @include grid-column(3);
        }

      }
    }
  }

  // 3 columns.
  &.paragraph--3 {
    .field--name-field-paragraphs {
      > .field__item {
        @include grid-media($neat-grid-tablet) {
          @include grid-column(4);
        }
      }
    }
  }

  // 2 columns.
  &.paragraph--2 {
    .field--name-field-paragraphs {
      > .field__item {
        @include grid-media($neat-grid-tablet) {
          @include grid-column(6);
        }
      }
    }
  }


}