.paragraph--text-2-columns {
  &__content {
    @include clearfix;
  }
  &__right,
  &__left {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(6);
    }
  }
  .field--name-field-cta {
    text-align: center;
    a {
      @include button;
    }
  }
}