// Reset container div for pages.
.page-node-type-page {
  .content > .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  nav.tabs {
    @include container;
  }
}

// If banner is first paragraph, remove margin-top.
.paragraph--banner:first-child {
  margin-top: 0;
}

// Global paragraph settings.
.paragraph {
  @include clearfix;
  margin: 80px 0; // TO DELETE.
  img {
    display: block;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
