.paragraph--banner {
  $this: &;
  .container {
    max-width: $small-width;
  }
  &__img {
    min-height: 450px;
    background-color: $grey;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    &::before {
      @include full-div;
      content: '';
      background: $black;
      opacity: .4;
    }
  }
  &__content {
    position: relative;
    text-align: center;
    z-index: 5;
    color: $white;
  }

  &--full-height {
    #{$this}__img {
      height: 100vh;
    }
  }

  &--full-height--fixed {
    #{$this}__img {
      @include grid-media($neat-grid-mobile) {
        background-attachment: fixed;
      }
      height: 100vh;
    }
  }

  &--fixed {
    #{$this}__img {
      @include grid-media($neat-grid-mobile) {
        background-attachment: fixed;
      }
    }
  }

  .field--name-field-cta {
    a {
      @include button;
    }
  }
}