.paragraph--icon {
  text-align: center;
  margin: 0 !important;
  opacity: 0;
  transition: all 1500ms ease-out;
  &.is-visible {
    opacity: 1;
  }
  .field--type-link {
    a {
      @include button;
    }
  }

  // 1 item in a row, other layout.
  .paragraph--1 & {
    text-align: left;
    .field--name-field-file {
      float: left;
      padding: 5px 45px 0 0;
    }
  }
}

// Transition on position of paragraph icon.
.field--name-field-paragraphs {
  @for $i from 1 through 10 {
    .field__item:nth-child(#{$i}) {
      .paragraph--icon {
        transition-delay: #{300ms * $i};
      }
    }
  }
}