.paragraph--text-1-column {
  .field--name-field-cta {
    a {
      @include button;
    }
  }

  &--center-small-width {
    text-align: center;
    .container {
      max-width: $small-width;
    }
  }
}