.paragraph--text-image-fw  {
  $this: &;
  background: $black;
  color: $white;
  position: relative;
  &__img {
    @include grid-media($neat-grid-tablet) {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
    }
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  &__content {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(5);
      float: right;
      min-height: 400px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
    }
    text-align: center;
    padding: 40px 0;
  }
  &.paragraph--right {
    #{$this}__content {
      @include grid-media($neat-grid-tablet) {
        float: left;
      }
    }
    #{$this}__img {
      @include grid-media($neat-grid-tablet) {
        right: 0;
        left: auto;
      }
    }
  }
  .field--name-field-cta {
    a {
      @include button;
    }
  }
}