.paragraph--text-image {
  $this: &;

  .container {
    @include grid-media($neat-grid-tablet) {
      display: flex;
    }
  }

  &__img {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(6);
      margin-bottom: 0;
    }
    @include grid-media($neat-grid-max) {
      transform: translateX(-200px);
    }
    margin-bottom: 20px;

    // Fade in transitions.
    opacity: 0;
    transition: transform 2.5s cubic-bezier(.19,1,.22,1),opacity .7s linear, -webkit-transform 2.5s cubic-bezier(.19,1,.22,1);
    transition-delay: 300ms;
    img {
      margin: 0 auto;
    }
  }
  &__content {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(6);
      display: flex;
      justify-content: center;
      flex-direction: column;

      // Fade in transitions.
      opacity: 0;
      transition: all 1.5s ease-in-out;
      transition-delay: 300ms;
    }
  }
  // Fade in transitions.
  &.is-visible {
    #{$this}__img {
      opacity: 1;
      transform: translateX(0) !important;
    }
    #{$this}__content {
      opacity: 1;
    }
  }

  &.paragraph--right {
    .container {
      @include grid-media($neat-grid-tablet) {
        flex-direction: row-reverse;
        justify-content: space-between;
        &::after {
          display: none;
        }
      }
    }
    #{$this}__img {
      @include grid-media($neat-grid-tablet) {
        margin-right: 0;
      }
      @include grid-media($neat-grid-max) {
        transform: translateX(200px);
      }
    }
  }
}
