.paragraph--images {
  .field__item {
    opacity: 0;
    transition: 600ms all linear;
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        transition-delay: #{400ms * $i};
      }
    }
  }
  &.is-visible {
    .field__item {
      opacity: 1;
    }
  }

  img {
    margin: 0 auto;
  }

  // 2 columns.
  &.paragraph--2 {
    .field__item {
      @include grid-media($neat-grid-tablet) {
        @include grid-column(6);
      }
    }
  }

  // 3 columns.
  &.paragraph--3 {
    .field__item {
      @include grid-media($neat-grid-tablet) {
        @include grid-column(4);
      }
    }
  }


  // 4 columns.
  &.paragraph--4 {
    .field__item {
      @include grid-media($neat-grid-mobile) {
        @include grid-column(6);
      }
      @include grid-media($neat-grid-tablet) {
        @include grid-column(3);
      }
    }
  }

}