.cc_banner-wrapper  {
  position: fixed;
  left: 0;
  bottom: 0;
  background: $primary;
  color: $secundary;
  font-size: 12px;
  line-height: 1.12;
  width: 255px;
  z-index: 20;
  padding: 20px 40px 20px 20px;
  .cc_btn {
    background: url('../img/close.svg') no-repeat center center;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 0;
  }
  p {
    margin: 0;
  }
  a.cc_more_info {
    color: $secundary;
    border-bottom: 1px solid $secundary;
  }
}