// Add your site-variables, such as colours and font sizes in this file.
$legacy-support-for-ie: false;
$normalize-headings: true;

// Colors
$background: #fff;
$color: #000;

$black: #000;
$grey: #ccc;
$white: #fff;

$primary: #ffe200;
$secundary: #000;

$error: #a94442;

$base-text-color: $color;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: lighten($base-text-color, 50%);
$base-link-color: $black;
$base-link-hover-color: $black;

// Fonts

$base-font-family: Helvetica, Arial, sans-serif;

$base-font-size: 16px;
$base-line-height: 1.5;

$thin: 100;
$light: 300;
$book: 400;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Default grid.
$max-width: 1200px;
$small-width: 760px;
$gutter-desktop: 37px;

$offset-desktop: 30px; // Side gutter.
$offset-mobile: 30px; // Side gutter.

$neat-grid: (
  columns: 12,
  gutter: $gutter-desktop,
);

$grid-width: $max-width + ($offset-desktop * 2);

// Breakpoints.
$neat-grid-mobile: (
  media: 480px
);
$neat-grid-tablet: (
  media: 736px
);
$neat-grid-desktop: (
  media: 980px
);
$neat-grid-max: (
  media: $max-width
);

$neat-grid-menu-switch: (
  media: 880px
);