select,
textarea,
.form-time,
.form-date,
.form-number,
.form-url,
.form-email,
.form-tel,
.form-text {
  background-color: transparent;
  transition: all 100ms linear;
  appearance: none;
  font-family: $base-font-family;;
  box-shadow: none;
  border-radius: 0;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

select {
  background-image: url('../img/select.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 35px !important;
}
select::-ms-expand {
  display: none;
}