.geysir-dialog {
  $border-color: #d1d1d1;
  $label-width: 170px;
  font-size: 14px;

  .form-item {
    margin: 20px 0;
    label {
      display: block;
      font-weight: $bold;
      margin: 0 0 5px 0;
    }
    .description {
      font-size: 11px;
    }
  }

  .paragraph-type-title {
    font-weight: $bold;
  }


  select,
  textarea,
  .form-time,
  .form-date,
  .form-number,
  .form-url,
  .form-email,
  .form-tel,
  .form-text {
    padding: 5px;
    border: 1px solid $border-color;
    &:focus {
      outline: none;
      color: $black;
    }
  }

  .form-type-number,
  .form-type-managed-file,
  .form-type-entity-autocomplete,
  .form-type-textfield,
  .form-type-select {
    label {
      width: $label-width;
      float: left;
    }
    .description {
      padding-left: $label-width;
    }
  }
  .form-type-checkbox {
    label {
      font-weight: normal;
      display: inline-block;
    }
  }

  .form-managed-file {
    overflow: hidden;
  }

  .form-item-field-main-title-value {
    padding-left: $label-width;
    margin-top: -15px;
  }

  fieldset {
    padding: 0;
    border: 0;
    legend {
      display: block;
      font-weight: $bold;
      font-size: 16px;
    }
  }


  .field-multiple-table {
    text-align: left;
    .handle {
      width: 30px;
      height: 30px;
    }
  }

  // Multiple images widget.
  .field--widget-image-image {
    .image-widget {
      padding: 10px 0;
      .image-preview {
        float: left;
        margin-right: 10px;
      }
      .form-item {
        overflow: hidden;
        margin: 0;
      }
      .description {
        padding-left: 0;
      }
    }
  }

}
