// Put everything in site wrapper, to not conflict with geysir forms.
.site {
  button,
  input,
  select,
  textarea {
    font-family: $base-font-family;
  }

  .form-item {
    margin: 0 0 30px 0;
    label {
      // Adds asterix for required form fields.
      &.form-required {
        &::after {
          content: ' *';
        }
      }
    }
    .description {
      font-size: 12px;
    }
  }

  // See js-label.js.
  .js-label {
    transition: all 100ms;
    position: relative;
    label {
      font-size: 12px;
      transition: all 100ms linear;
      top: -16px;
      position: absolute;
    }
    &.js-hide-label {
      label {
        font-size: $base-font-size;
        top: 0;
      }
    }
  }

  select,
  textarea,
  .form-time,
  .form-date,
  .form-number,
  .form-url,
  .form-email,
  .form-tel,
  .form-text {
    max-width: 100%;
    width: 100%;
  }

  .form-time,
  .form-date,
  .form-number,
  .form-url,
  .form-email,
  .form-tel,
  .form-text {
    padding: 0 0 10px 0;
    border: 0;
    border-bottom: 1px solid $grey;
    &.error {
      border-bottom: 1px solid $error;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid $color;
    }
  }

  select,
  textarea {
    padding: 10px;
    border: 1px solid $grey;
    &.error {
      border: 1px solid $error;
    }
    &:focus {
      outline: none;
      border: 1px solid $color;
    }
  }

  .form-type-checkbox,
  .form-type-radio {
    input {
      opacity: 0;
      position: absolute;
    }
    label {
      position: relative;
      padding-left: 25px;
      &::before {
        transition: all 200ms ease;
        position: absolute;
        left: 0;
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid $secundary;
      }
    }
    input:checked + label::before {
      background: $secundary;
      box-shadow: inset 0 0 0 2px $white;
    }
  }
  .form-type-radio label::before {
    border-radius: 50%;
  }

  // Placeholder layout
  @mixin placeholder-layout {
    text-transform: uppercase;
  }
  input:-ms-input-placeholder {
    @include placeholder-layout;
  }
  input::-moz-placeholder {
    @include placeholder-layout;
  }
  input:-moz-placeholder {
    @include placeholder-layout;
  }
  input::-webkit-input-placeholder {
    @include placeholder-layout;
  }
  textarea:-ms-input-placeholder {
    @include placeholder-layout;
  }
  textarea::-moz-placeholder {
    @include placeholder-layout;
  }
  textarea:-moz-placeholder {
    @include placeholder-layout;
  }
  textarea::-webkit-input-placeholder {
    @include placeholder-layout;
  }

  // Hide ugly grippie functionality.
  .grippie {
    display: none;
  }

  fieldset {
    min-width: 0 !important;
    display: block;
  }
}