.overlay-open {
  overflow: hidden;
}

.page-overlay__open {
  @include grid-media($neat-grid-menu-switch) {
    display: none;
  }
  text-decoration: none;
  font-size: 0;
  float: right;
  position: relative;
  z-index: 1;
}

.page-overlay__close {
  text-decoration: none;
  font-size: 0;
  float: right;
  position: absolute;
  right: 46px;
  top: 30px;
  &::before {
    font-size: 21px;
  }
}

.page-overlay {
  font-size: 20px;
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 75px 25px 25px 25px;
  overflow: auto;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  .overlay-open & {
    opacity: 1;
    z-index: 15;
    visibility: visible;
  }
  ul.menu {
    text-align: center;
    li {
      display: block;
      a {
        color: $color;
        display: block;
        padding: 10px 0;
        text-decoration: none;
      }
      &.menu-item--active-trail {
        a {
          font-weight: $bold;
        }
      }
    }
  }
}
