.menu--social-media {
  ul.menu {
    li {
      display: inline-block;
    }
    a {
      background: $primary;
      color: $white;
      display: block;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      text-align: center;
      font-size: 0;
      &::before {
        font-size: 20px;
        position: relative;
        top: 6px;
      }
      &:focus,
      &:hover {
        background: $secundary;
      }
    }
  }
}


