.view-articles {
  .view-content {
    @include clearfix;
  }
  .views-row {
    @include grid-media($neat-grid-mobile) {
      @include grid-column(6);
    }

    @include grid-media($neat-grid-tablet) {
      @include grid-column(4);
    }
    margin-bottom: 40px;
  }
}