.node-webform  {
  @include clearfix;
  .field--name-webform {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(8);
    }
  }
  .field--name-body {
    @include grid-media($neat-grid-tablet) {
      @include grid-column(3);
      float: right;
      margin-bottom: 0;
    }
    margin-bottom: 20px;
  }
}