.node-article {
  .node__date {
    margin: 0 0 10px 0;
  }

  &.node-full {
    .node__content {
      .field--name-field-image {
        @include grid-media($neat-grid-tablet) {
          @include grid-column(4);
          margin-bottom: 0;
        }
        margin-bottom: 20px;
      }
    }
  }

}