footer {
  @include grid-media($neat-grid-tablet) {
    margin: 80px 0 0 0;
  }
  margin: 40px 0 0 0;
  color: $white;
  text-align: center;
  padding: 65px 0;
  background: $black;
  a {
    color: $white;
  }
  p {
    margin: 0;
  }
  .text-formatted {
    span {
      @include grid-media($neat-grid-tablet) {
        display: inline-block;
        height: auto;
        opacity: 1;
      }
      display: block;
      height: 0;
      opacity: 0;
    }
  }
  ul.menu {
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
  }
}
