/// Default container helper mixin, based on grid size
/// @group helpers
@mixin container {
  @include grid-media($neat-grid-max) {
    padding-left: $offset-desktop;
    padding-right: $offset-desktop;
  }
  padding-left: $offset-mobile;
  padding-right: $offset-mobile;
  margin: 0 auto;
  max-width: $grid-width;
}


/// Helper mixin to place a div in the middle
/// with position absolute.
/// @group helpers
///
/// @param {Length} $width - Element's width
/// @param {Length} $height [$width] - Element's height
/// @output `width` and `height`
///
@mixin center-div($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $width;
  height: $height;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
}


@mixin full-div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}