{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
set classes = [
'taxonomy-term',
'taxonomy-term--' ~ term.bundle|clean_class,
term.bundle|clean_class ~ '-' ~ view_mode|clean_class,
view_mode ? 'view-mode-' ~ view_mode|clean_class,
'vocabulary-' ~ term.bundle|clean_class,
]
%}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <a href="{{ url }}">
        {% if not page %}
            <h2>{{ name }}</h2>
        {% endif %}
        <div class="content">
            {{ content }}
        </div>
    </a>
</div>
